@CHARSET "UTF-8";

hr {
	border-color: #b87272;
}

#bttm {
	width: 100%;
	margin: 0;
	/* background-color: #ffefa3; */
	padding-top: 15px;
}

footer {
	width: 1100px;
	margin: 0 auto;
	padding: 20px auto 0 auto;
	color: #804040;
}

#sub_logo {
	/* border: 1px solid purple; */
	float: left;
	padding: 7px;
	color: #b87272;
}

#sub_logo>span {
	font-family: Jalnan;
	font-size: 1.4em;
}

#family_site {
	/* border: 1px solid purple; */
	float: right;
}

select {
  width: 125px;
  padding: .8em .5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 97% 40%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #240e04;
  border-radius: 0px;
  color: #240e04;
}

#sub_menu {
	/* border: 1px solid maroon; */
	clear: both;
	hieght: 50px;
	font-size: 14px;
	margin-top: 25px;
	padding-left: 53px;
}

#sub_menu>ul {
	/* border: 1px solid black; */
	width: inherit;
	height: 50px;
	margin: 10px auto;
	padding: 12px 0 12px 20px;
}

#sub_menu>ul>li {
	float: left;
	text-align: center;
	margin: 5px 0 5px 18px;
	padding-right: 17px;
}

#sub_menu>ul>li:NTH-CHILD(1), #sub_menu>ul>li:NTH-CHILD(2), 
#sub_menu>ul>li:NTH-CHILD(3), #sub_menu>ul>li:NTH-CHILD(4), 
#sub_menu>ul>li:NTH-CHILD(5), #sub_menu>ul>li:NTH-CHILD(6), 
#sub_menu>ul>li:NTH-CHILD(7) {
	border-right: 2px solid #b87272;
}

#sub_info>ul {
	/* border: 1px dotted black; */
	width: inherit;
	height: 80px;
	margin: 10px auto 15px auto;
	padding: 30px auto 15px auto;
	text-align: center;
	font-size: 11px;
}

#sub_info>ul>li {
	display: block;
	margin: 10px auto;
	text-align: center;
	margin: 5px 25px;
	line-height: 17px;
}

#copy {
	/* border: 1px dashed black; */
	width: 700px;
	height: 30px;
	margin: 2px auto 10px auto;
	text-align: center;
	font-size: 12px;
}