@CHARSET "UTF-8";
/* -------- 글씨체 -------- */
@font-face {
	font-family: 'Oduda';
	src: url('../font/Oduda.otf') format('opentype');
}
/* -------- 글씨체 -------- */



/* -------- 전체에 적용할 속성들 --------*/
a {
	text-decoration: none;
}

a:VISITED {
	text-decoration: none;
}
a:HOVER {
	text-decoration: none;
}
a:FOCUS { 
	text-decoration: none; 
}

ul>li {
	list-style: none;
}
body {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
}

#wrap {
	/* border: 1px solid red; */
	width: 100%;
	margin: 0;
	padding: 0;
}
/* -------- 전체에 적용할 속성들 --------*/



/* ----------- header ----------- */
header {
	/* border: 1px dashed black; */
	width: 1100px;
	height: 300px;
	margin: 10px auto;
}
#social {
	/* border: 1px solid orange; */
	width: 450px;
	height: 30px;
	padding: 0;
	font-size: 13px;
}

#social>ul {
	margin: auto 0 auto 15px;
	padding: 2px 5px;
}

#social>ul>li {
	/* border: 1px solid blue; */
	float: left;
	width: 100px;
	text-align: center;
}

#social>ul>li>.fa-mobile-alt {
	color: gray;
}

#social>ul>li>.fa-facebook-square {
	color: #0373cd;
}

#social>ul>li>.fa-youtube {
	color: #d7282d;
}

#my {
	/* border: 1px solid orange; */
	width: 480px;
	height: 30px;
	margin-top: -30px;
	float: right;
	font-size: 13px;
}

#my>ul {
	/* border: 1px solid yellow; */
	height: 30px;
	margin: auto 0;
	padding: 2px 0 2px 35px;
}

#my>ul>li {
	/* border: 1px solid blue; */
	float: left;
	width: 85px;
	text-align: center;
	position: relative;
	letter-spacing: 2px;
}

#my>ul>li:NTH-CHILD(1) {
	border-right: 2px solid #CCCCCC;
}

#my>ul>li:NTH-CHILD(2) {
	border-right: 2px solid #CCCCCC;
}

#my>ul>li:NTH-CHILD(3) {
	border-right: 2px solid #CCCCCC;
}

#dropdown {
	display: none;
	width: 100px;
	margin: 1px auto;
	position: absolute;
	right: -7px;
}

#dropdown>li {
	margin: 3px auto;
}

#forcustomer:HOVER #dropdown {
	display: block;
	/* transition: all 1s ease-out 1s; */
}

.top_space {
	height: 70px;
}

.link-home {
	color: #d7282d;
	font-size: 2.2em;
	font-family: Oduda;
}

#logo {
	clear: both;
	width: 320px;
	margin: 35px auto 15px auto;
	text-align: center;
}

nav {
	/* border: 1px dotted lime; */
	height: 140px;
	padding: 10px auto;
}

nav>ul {
	/* border: 1px solid pink; */
	margin: 30px auto;
	padding: auto;
	width: 800px;
	height: 70px;
	position: relative;
}

nav>ul>li {
	/* border: 1px solid skyblue; */
	float: left;
	margin: 20px 19px 30px 38px;
	padding: 3px 5px 3px 7px;
	font-size: 1.2em;
	letter-spacing: 0.2em;
}

nav>ul>li>ul {
	/* border: 1px dashed pink; */
	margin: 2px auto;
	padding: 3px 10px 3px 0;
	position: absolute;
}

nav>ul>li:NTH-CHILD(3) ul {
	width: 810px;
	position: absolute;
	left: 50px;
}

nav>ul>li:NTH-CHILD(4) ul {
	width: 500px;
}

nav>ul>li>ul {
	display: none;
}

nav>ul>li>ul>li {
	float: left;
	padding: 5px 9px 5px 5px;
	margin-right: 15px;
	font-size: 13px;
	position: relative;
}

nav>ul>li:HOVER ul {
	display: block;
	position: absolute;
	padding-top: 10px;
}
/* ----------- header ----------- */
