@CHARSET "UTF-8";
/* -------- 글씨체 -------- */
@font-face {
	font-family: 'Jalnan';
	src: url('../font/JalnanOTF.otf') format('opentype');
}

@font-face {
	font-family: 'nanumSL';
	src: url('../font/NanumSquareL.otf') format('opentype');
}

@font-face {
	font-family: 'nanumSR';
	src: url('../font/NanumSquareR.otf') format('opentype');
}

@font-face {
	font-family: 'NanumGothic';
	src: url('../font/NanumGothic.ttf') format('truetype');
}

/* -------- 전체에 적용할 속성들 --------*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #804040;/* #d7282d */
}

ul>li {
	list-style: none;
}
body {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	font-family: NanumGothic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wrap {
	/* border: 1px solid red; */
	width: 100%;
	margin: 0;
	padding: 0;
}



/* -------- header --------*/
header {
	/* border: 1px dashed black; */
	width: 100%;
	height: 300px;
	margin: 0 auto;
	color: #804040;
}

#top_line {
	background-color: #ffefa3;
	padding-top: 7px;
}

#social {
	width: 450px;
	height: 30px;
	margin-top: 5px;
	padding: 0;
	font-size: 13px;
}

#social>ul {
	margin: auto 0 auto 15px;
	padding: 2px 5px;
}

#social>ul>li {
	float: left;
	width: 100px;
	text-align: center;
}

#social>ul>li:HOVER {
	cursor: default;
}

#social>ul>li:NTH-CHILD(3) {
	margin-left: -10px;
}

#social>ul>li>.fa-facebook-square {
	color: #0373cd;
}

#social>ul>li>.fa-youtube {
	color: #d7282d;
}

#my {
	/* border: 1px solid orange; */
	width: 500px;
	height: 30px;
	margin-top: -30px;
	float: right;
	font-size: 13px;
}

#my>ul {
	height: 33px;
	margin: auto 0;
	padding: 2px 0 2px 35px;
}

#my>ul>li:NTH-CHILD(1) {
	/* border-right: 2px solid #CCCCCC; */
	float: left;
	width: 85px;
	text-align: center;
	position: relative;
}

#my>ul>li:NTH-CHILD(2) {
	/* border-right: 2px solid #CCCCCC; */
	float: left;
	width: 93px;
	text-align: center;
	position: relative;
}

#my>ul>li:NTH-CHILD(3) {
	/* border-right: 2px solid #CCCCCC; */
	float: left;
	width: 82px;
	text-align: center;
	position: relative;
}

#my>ul>li:NTH-CHILD(4) {
	/* border-right: 2px solid #CCCCCC; */
	float: left;
	width: 85px;
	text-align: center;
	position: relative;
}

#my>ul>li:NTH-CHILD(5) {
	/* border-right: 2px solid #CCCCCC; */
	float: left;
	width: 90px;
	text-align: center;
	position: relative;
}

#dropdown {
	display: none;
	width: 100px;
	margin: 1px auto;
	position: absolute;
	right: -7px;
}

#dropdown>li {
	margin: 3px auto;
}

#forcustomer:HOVER #dropdown {
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.top_space {
	height: 20px;
}

.link-home {
	color: #d7282d;
	font-size: 2em;
	font-family: Jalnan;
}

#logo {
	/* border: 1px dotted blue; */
	clear: both;
	width: 320px;
	height: 50px;
	margin: 35px auto 15px auto;
	padding: 9px auto;
	text-align: center;
	position: relative;
}

#logo>a>i {
	/* border: 1px dashed lime; */
	position: absolute;
	left: 9px;
	top: 9px;
}

#logo>a>span {
	/* border: 1px solid skyblue; */
	width: 270px;
	position: absolute;
	right: 7px;
	top: 9px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 0.9em;
}

nav {
	border-top: 2px solid #ffdf45;
	border-bottom: 1px solid #ffdf45;
	height: 55px;
	padding: 0 auto 10px auto;
	margin-top: 35px;
	margin-bottom: 0;
	font-size: 16px;
}

nav>ul {
	/* border: 1px solid pink; */
	margin: 5px auto 0 auto;
	padding: auto 0 auto 9px;
	width: 885px;
	height: 55px;
	position: relative;
}

nav>ul>li {
	/* border: 1px solid skyblue; */
	float: left;
	width: 75px;
	margin: 10px 6px 30px 40px;
	font-size: 18px;
	letter-spacing: 1px;
}

nav>ul>li:NTH-CHILD(1) {
	margin-left: 90px;
}

nav>ul>li:NTH-CHILD(3), nav>ul>li:NTH-CHILD(4) {
	width: 95px;
}

nav>ul>li:NTH-CHILD(5) {
	width: 85px;
}

nav>ul>li:NTH-CHILD(1), nav>ul>li:NTH-CHILD(2), nav>ul>li:NTH-CHILD(3), nav>ul>li:NTH-CHILD(4), nav>ul>li:NTH-CHILD(5) {
	border-right: 1px solid #b87272;
}

/* --- 말풍선 꼬리 ---
nav>ul>li:NTH-CHILD(1)>ul:after, nav>ul>li:NTH-CHILD(2)>ul:after, nav>ul>li:NTH-CHILD(4)>ul:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 12px 19px;
	border-color: #ffefa3 transparent;
	display: block;
	width: 0;
	z-index: -1;
	top: -9px;
	left: 10px;
}

nav>ul>li:NTH-CHILD(3)>ul:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 12px 19px;
	border-color: #ffefa3 transparent;
	display: block;
	width: 0;
	z-index: -1;
	top: -9px;
	left: 252px;
} 
*/

nav>ul>li>ul {
	display: none;
	margin: 0 auto;
	padding: 3px 10px 3px 0;
	width: 100%;
	height: 40px;
	position: relative;
	text-align: center;
}

nav>ul>li>ul>li {
/* 	border: 1px solid red; */
	float: left;
	padding: 5px;
	margin-top: 12px;
	font-size: 13px;
	margin: 10px;
	text-align: center;
}

nav>ul>li:HOVER ul {
	display: block;
	position: absolute;
	margin-top: 5px;
	padding: 2px 5px 2px 7px;
	text-align: center;
	top: 39px;
}

nav>ul>li:NTH-CHILD(1):HOVER ul {
	left: -5px;
}

nav>ul>li:NTH-CHILD(2):HOVER ul {
	left: 95px;
}

nav>ul>li:NTH-CHILD(3):HOVER ul {
	left: 105px;
}

nav>ul>li:NTH-CHILD(4):HOVER ul {
	left: 330px;
}

#sub_ul {
	width: 100%;
	height: 32px;
	background-color: #ffefa3;
	margin-top: 0;
}