@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

fieldset {
	border-style: none;
	width: 500px;
	margin: 100px auto;
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 50px auto;
	width: 350px;
	height: 200px;
}

#signup {
	margin: 50px auto;
	width: 350px;
	text-align: center;
}

#socialLogin {
	width: 202px;
	margin: 10px auto;
}
