@CHARSET "UTF-8";

#center {
	/* border: 1px solid olive; */
	text-align: center;
	position: relative;
	width: 1400px;
	height: 450px;
	margin: 10px auto;
	position: relative;
}

#list {
	border: 1px solid navy;
	float: left;
	width: 320px;
	height: 500px;
	margin: 1px 0 10px 80px;
	position: absolute;
	

}
.entry {width : 320px; height : 200px; background-image : url("../img/main/boxoffice.jpg"); margin-top: -10px; }
.ratingLink{text-shadow : 1px 1px 2px #666666; color : white;  padding: 5px 10px; 
				text-align: center right; 	
}

#image {
	border: 1px solid tomato;
	float: right;
	width: 900px;
	height: 500px;
	margin-right : 100px;
	margin-top: 1px;
	margin-bottom: 20px;
}

#event {
	border: 1px solid blue;
	width: 1100px;
	height: 300px;
	clear: both;
	margin: 100px auto 10px auto;
	padding: 10px auto;
	text-align: center;
}

#service {
	border: 1px solid gray;
	width: 1100px;
	height: 200px;
	clear: both;
	margin: 20px auto 10px auto;
	padding: 10px auto;
	text-align: center;
}

#notice {
	border: 1px solid red;
	width: 400px;
	height: 450px;
	clear: both;
	 margin: 20px auto 10px auto;
	padding: 10px auto;
	 text-align: center;
}

.eventlist{
	float:left;
		margin: 18px;
	padding-left:80px;
list-style: none;
	
}
.booking{
float: left;
margin-left: 30px;
font-weight: bold;
}
.booking1{
float: right;
margin-right: 40px;
font-weight: bold;
}
.booking>a:HOVER {
	color: red;
}