@CHARSET "UTF-8";
/* -------- 글씨체 -------- */
@font-face {
	font-family: 'Oduda';
	src: url('../font/Oduda.otf') format('opentype');
}
/* -------- 글씨체 -------- */



/* -------- 전체에 적용할 속성들 --------*/
a {
	text-decoration: none;
}

a:VISITED {
	text-decoration: none;
}
a:HOVER {
	text-decoration: none;
}
a:FOCUS { 
	text-decoration: none; 
}

ul>li {
	list-style: none;
}
body {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
}

#wrap {
	/* border: 1px solid red; */
	width: 100%;
	margin: 0;
	padding: 0;
}
/* -------- 전체에 적용할 속성들 --------*/



/* ----------- section ----------- */

#center {
	/* border: 1px solid olive; */
	text-align: center;
	position: relative;
	width: 1400px;
	height: 450px;
	margin: 10px auto;
	position: relative;
}

#list {
	border: 1px solid navy;
	float: left;
	width: 320px;
	height: 450px;
	margin: 1px 0 10px -25px;
	position: absolute;
}

#image {
	border: 1px solid tomato;
	float: right;
	width: 1100px;
	height: 450px;
	margin-top: 1px;
	margin-bottom: 20px;
}

#event {
	border: 1px solid blue;
	width: 1100px;
	height: 300px;
	clear: both;
	margin: 100px auto 10px auto;
	padding: 10px auto;
	text-align: center;
}

#service {
	border: 1px solid gray;
	width: 1100px;
	height: 200px;
	clear: both;
	margin: 20px auto 10px auto;
	padding: 10px auto;
	text-align: center;
}

#notice {
	border: 1px solid red;
	width: 1100px;
	height: 200px;
	clear: both;
	margin: 20px auto 10px auto;
	padding: 10px auto;
	text-align: center;
}
/* ----------- section ----------- */