@CHARSET "UTF-8";

section {
	width: 800px;
	margin: 10px auto;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 700px;
	margin: 50px auto;
}

td {
	border: 1px solid black;
}

tr:NTH-CHILD(1)>td:NTH-CHILD(1) {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	height: 45px;
	letter-spacing: 5px;
}

tr:NTH-CHILD(3)>td:NTH-CHILD(1) {
	width: 60%;
}

tr:NTH-CHILD(3)>td:NTH-CHILD(2) {
	text-align: center;
	font-size: 14px;
}

#sec02 ul {
	border: 1px solid pink;
	width: 700px;
	height: 80px;
	margin: 50px auto;
	padding: 25px 0 0 75px;
}

#sec02 ul>li {
	border: 1px solid skyblue;
	display: inline-block;
	margin: 5px 22px 5px 20px;
}

#sec02>#contents {
	width: 700px;
	margin: 20px auto;
	text-align: center;
}