@CHARSET "UTF-8";


#notidel{
  width: 150px;
  	padding: 10px 15px;
  	margin: 8px 15px;
  	display: inline-block;
 	 border: 1px solid #ccc;
  	box-sizing: border-box;
  	background-color: #0080ff;
  	color:#fff
	
	
}