@CHARSET "UTF-8";






.notice{
	padding: 10px 35px;
}

.notice02{
	padding: 10px 120px;
}


.noc1{
  width: 150px;
  padding: 10px 15px;
  margin: 50px auto;
  display: inline-block;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  background-color: #ff0000;
  color:#fff
  
}


#content{
margin: 50px auto;
}