@CHARSET "UTF-8";

.accordion {
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.rightloat{
	float: right;
}

#faq_contents {
	width: 50%;
	margin: 10px auto;
}
#paging {
	/* border: 1px solid red; */
	width: 90%;
	margin: 20px auto;
}
#faqList {
	width: 900px;
	margin: 10px auto;
	text-align: center;
}
#contentsWrap {
	/* border: 1px solid red; */
	width: 900px;
	margin: 50px auto;

	border: none;
}

#pagingNumber {
	text-align: center;
}

#button {
  background-color: silver;
}