@CHARSET "UTF-8";

.seatTable td .seat{
	border: none;
	width: 25px;
	height: 25px;
	background: #848484;
	text-align: center;
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 3px;
}
.seatTable td .seat:focus { outline:none; }

.seatTable .rowNum{
	margin-left: 30px;
	width: 30px;
	height: 300px;
}

.seatTable td .seatbg{
	background: #fff;
	color: #000000;
	border: none;
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 11px;
	line-height: 23px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 3px;
}