@CHARSET "UTF-8";

.grade_18 {background:url('../img/bg/bg_grade_18.png') no-repeat 0 0; } 
.grade_15 {background:url('../img/bg/bg_grade_15.png') no-repeat 0 0; }
.grade_12 {background:url('../img/bg/bg_grade_12.png') no-repeat 0 0; }
.grade_all {background:url('../img/bg/bg_grade_all.png') no-repeat 0 0; } 

.disabled [class^=grade_].grade_18 {background:url('../img/bg/bg_grade_18_off.png') no-repeat 0 0; } 
.disabled [class^=grade_].grade_15 {background:url('../img/bg/bg_grade_15_off.png') no-repeat 0 0; }
.disabled [class^=grade_].grade_12 {background:url('../img/bg/bg_grade_12_off.png') no-repeat 0 0; }
.disabled [class^=grade_].grade_all {background:url('../img/bg/bg_grade_all_off.png') no-repeat 0 0; }
.disabled [class^=grade_].grade_19 {background:url('../img/bg/bg_grade_19_off.png') no-repeat 0 0;} 
.disabled [class^=grade_].grade_mi {background:url('../img/bg/bg_grade_mi_off.png') no-repeat 0 0;} 

.movie_list .disabled [class^=grade_].grade_18 {background:url('../img/bg/bg_grade_18_off.png') no-repeat 0 0; } 
.movie_list .disabled [class^=grade_].grade_15 {background:url('../img/bg/bg_grade_15_off.png') no-repeat 0 0; }
.movie_list .disabled [class^=grade_].grade_12 {background:url('../img/bg/bg_grade_12_off.png') no-repeat 0 0; }
.movie_list .disabled [class^=grade_].grade_all {background:url('../img/bg/bg_grade_all_off.png') no-repeat 0 0; }
.movie_list .disabled [class^=grade_].grade_19 {background:url('../img/bg/bg_grade_19_off.png') no-repeat 0 0;} 

.movie_list li a.disabled.on {background:#fff url('../img/bg/bg_ckth.png') no-repeat 10px center;  border:1px solid #999}
.movie_list li a.on em {font-weight:bold;}

a {text-decoration:none;color:#555;}

/* 예매 Content Ticket*/
.cont_ticket {
	width: 100%;
	min-height: 100px;
	background: #f9f6ec;
}

.cont_ticket_Area {
	width: 980px;
	min-height: 100px;
	margin: 0 auto;
	padding-top: 30px;
}
/* 예매 Content Ticket*/

/* 0805 예매 */
.ticket_wrap {
	width: 100%;
	background: #f6f6ea
}

.calendar { 
	position:relative; 
	clear:both;
	width:980px; 
	padding:0 0 0 0;  
	color:#231f20;
}

.calendar fieldset .month-picker-label {
	/* position: absolute; */
	width: 30px;
	padding: 0 15px;
	text-align: center;
}

.calendar .month-picker {
	margin: 100px auto;
	width: 600px;
	text-align: center;
}

.calendar .month-picker-label span {
	display: block;
	font-size: 13px;
	padding-bottom: 5px;
}

.calendar .month-picker-label em {
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.calendar .month-picker-fieldset {
	overflow: hidden;
	position: relative;
	display: block;
	width: 840px;
	padding: 47px 70px 0;
}

.calendar .month-picker-fieldset div.calendarArea {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.calendar .month-picker-fieldset div input {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.calendar span.month {
	position: absolute;
	padding: 0 40px;
	text-align: left;
	font-weight: bold;
	top: 0 !important;
	color: #666;
	font-size: 12px;
}

.calendar span.month em {
	width: 13px;
	font-size: 34px;
	margin: 0 15px 0 0;
	border-bottom: 2px solid #231f20;
	font-family: 'Linux Libertine';
	color: #231f20;
	font-weight: bold;
}

.calendar span.month.noDate {
	color: #806a42;
}

.calendar span.month.noDate em {
	color: #806a42;
	border-color: #806a42;
}

.calendar span.month span {
	white-space: nowrap
}

.calendar .month-picker-fieldset>.month-picker-label.month em {
	padding: 0;
	font-size: 30px;
	line-height: 30px;
}

.calendar .month-picker-fieldset .month-picker-label.sun {
	color: #cd190b
}

.calendar .month-picker-fieldset .month-picker-label.sat {
	color: #407bbb
}

.calendar .month-picker-fieldset .month-picker-label.noDate {
	color: #A7A2A2 !important;
	cursor: default;
}

.calendar .month-picker-label, .month-picker-nav {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.calendar .month-picker-label.ckon em {
	opacity: 1;
	filter: alpha(opacity = 100);
	opacity: 1.0;
	-moz-opacity: 1.0;
	background: url('../img/bg/bg_cal_check.png') no-repeat center
		center !important;
	color: #fff;
}

.calendar .month-picker-label.month.ckon em {
	background: none;
	color: #231f20
}

.calendar input:checked+.month-picker-label em {
	opacity: 1;
	filter: alpha(opacity = 100);
	opacity: 1.0;
	-moz-opacity: 1.0;
	background: url('../img/bg/bg_cal_check.png') no-repeat center
		center;
	color: #fff;
}

.calendar input:checked+.month-picker-label.month em {
	background: none;
	color: #231f20
}

.calendar input:focus+.month-picker-label {
	outline: 1px dotted #000;
} /* 2016.05.04 포커스 추가*/
.calendar .month-picker-nav {
	position: absolute;
	top: 41px;
	z-index: 10;
	width: 19px;
	height: 50px;
	font-size: 0;
	text-align: center;
}

.calendar .month-picker-nav.next {
	right: 0;
	background: url('../img/btn/btn_m_next_on.png') no-repeat center
		center;
}

.calendar .month-picker-nav.prev {
	left: 0;
	background: url('../img/btn/btn_m_prev_on.png') no-repeat center
		center;
}

.calendar .month-picker-nav.nodata {
	opacity: 0.3;
	filter: alpha(opacity = 30);
	opacity: 0.3;
	-moz-opacity: 0.3;
	cursor: default;
}


.movie_list {
  display: none;
}

.movie_cont a.active{
	font-weight: bold;
}

.movie_list a.on{
	font-weight: bold;
}

.area_list a.on{
	font-weight: bold;
}
/* 예매 Content Ticket*/
ol, ul, li {list-style:none;}
.ticket_inner {width:980px; margin:20px auto 0; height: 580px;}
.ticket_step {min-height: 580px;background:#fff;border-top:2px solid #23333b;}
.ticket_left {float:left; width:600px;}
.ticket_right {float:right; width:379px; border-left:1px solid #c0c0c0; box-sizing:border-box;}
.ticket {overflow:hidden; height:50px; padding-left:20px; border-bottom:1px solid #dedede;}

.cinema_header {overflow:hidden; height:59px; padding:0 25px 0 20px; line-height:59px; border-bottom:1px solid #dedede;}
.cinema_header dt {float:left; font-size:20px; padding:0 0 0 10px; font-weight:bold; color:#231f20;}
.cinema_header dd {float:right; padding-left:7px; font-size:13px; color:#777;}

.cinema_top>h4{overflow:hidden;padding-bottom:20px;}

.cinema_cont {position:relative; padding:20px 0 0 20px; text-decoration: n}

.cinema_list {overflow:hidden; padding-bottom:20px;}

.tab_scroll {height:415px; padding-left:10px; overflow-y:auto;} 
.tab_cont {display:block; font-size:12px;}

.cinema_zone {position:relative; }
.cinema_zone li {margin-bottom:8px; }

.wrap >div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
 em {font-weight:normal;font-style:normal;}
.area_cont {position:absolute;left:131px;top:0;}

.area_zone > a {display:block; width:116px; height:40px; line-height:40px; padding-left:13px; color:#666; text-align:left; vertical-align:middle; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.area_zone > a.active {/* 0308 width:107px;*/width:107px;padding-left:22px;background:#231f20 url('../img/Bullet/bullet03.gif') no-repeat 10px center;color:#fff !important;letter-spacing:-1px;}

.area_list {overflow:hidden; width:409px; }
.area_list li {float:left; margin:0 0 8px 7px; display:table; }
.area_list li a {overflow:hidden; display:table-cell; vertical-align:middle; width:129px; height:40px; border:1px solid #efefef; background:#efefef; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; line-height:16px; font-size:12px; color:#666; text-align:center; letter-spacing:-1px;}
.area_list li a.on {padding:0 25px; border:1px solid #999; color:#231f20; font-weight:bold; background:#fff url('../img/bg/bg_ckth.png') no-repeat 10px 50%;}

.area_list li a.disabled {color:#d1d1d1; background:#fafafa; border:none; cursor:default; border:1px solid #fafafa;}/* 1105 추가 */
.area_list li a.disabled.on {color:#d1d1d1; background:#fafafa url('../img/bg/bg_ckth.png') no-repeat 10px 50%; border:1px solid #999; cursor:default;}


.movie_cont>ul{overflow:hidden; padding-right:10px; text-align:right; border-bottom:1px solid #dedede;}
.movie_cont>ul>li{display:inline-block; font-size:14px; padding-left:2px; background: url('../img/bg/bg_tkMTab.gif') no-repeat left center;}
.movie_cont>ul>li:first-child {background:none;padding-left:0;}
.movie_cont>ul>li a {display:block; padding:0 10px 0 15px; color:#231f20; height:50px; line-height:50px;}
.movie_cont>ul>li.active a {font-weight:bold;}

.movie_cont {height:520px; min-height:520px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}

.scroll_bar {clear:both;height:469px;overflow-y:auto;}

.movie_list li {padding:4px 0;}
.movie_list li a {display:block;padding:9px 10px 9px 29px;border:1px solid #fff;color:#231f20;font-size:14px;line-height:22px;word-break:break-all;}
.movie_list li a [class^=grade_] {float:left;}

.movie_list li a.on {background:url('../img/bg/bg_ckth.png') no-repeat 10px center;border:1px solid #999;}
.movie_list li a.disabled {color:#d1d1d1;background:#fff;cursor:default;}

.movie_list li a.disabled.on {background:#fff url('../img/bg/bg_ckth.png') no-repeat 10px center;  border:1px solid #999}
.movie_list li a.on em {font-weight:bold;}

.movie_list li a  {float:left;}
.movie_list li a em {float:left;width:290px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.movie_list [class^=grade_] {margin:0 6px 0 0;}

[class^=grade_] {display:inline-block;overflow:hidden;vertical-align:middle;width:20px;height:20px;margin-right:5px;text-indent:-99999em;} 

/* 선택 정보 */
.selectMv {width:980px; margin:0 auto; background:#ffefa3;}

.selectMv_Area {overflow:hidden; width:980px;padding:10px 10px 15px 20px; box-sizing:border-box;}
.selectMv_Area div{float:left; overflow:hidden; font-size:16px; padding-left: 10px;}
.selectMv_Area dl dt {float:left; color:#231f20; padding-right:10px; height:30px; line-height:30px;}
.selectMv_Area dl dd {float:left; color:#231f20; line-height:30px; font-weight:bold;}
.selectMv_Area .txtdate dl {padding-left:0px;}
.selectMv_Area .txtdate dt {padding-left:10px; width:60px;}
.selectMv_Area .txtdate dd {float:left; width:150px; padding-right: 10px;}
.selectMv_Area .listMv {overflow:hidden; font-size:13px; }
.selectMv_Area .listMv>dl li {position:relative; word-break: break-all; display:inline-block; float:left; padding:0 35px 0 10px; margin:0 5px 5px 0; color:#231f20 !important; border:1px solid #bab093; background:#e5e0cb; text-align:left;}
.selectMv_Area .listMv li > a {display:inline-block; width:15px; height:15px; position:absolute; right:10px; top:50%; margin-top:-8px; font-size:0; line-height:0;}
.selectMv_Area .txtCin dl{width:338px;}
.selectMv_Area .txtCin dt {width:70px;}
.selectMv_Area .txtCin dd {float:left; width:150px;}
.selectMv_Area .txtName dl{float: left;width: 250px;}
.selectMv_Area .txtName dt {width:56px;}
.selectMv_Area .txtName dd {float: left;width: 180px;}

.time_wrap {width:100%; background:#f9f6ec;}
.time_inner {width:980px; min-height:100px; margin:0 auto; padding:50px 0 40px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.time_inner .sub_tit02 {margin-bottom:30px; color:#231f20; font-size:24px}
.time_inner .sub_tit02 > em {font-weight:bold}
.time_inner .sub_tit02 .sub_etc {margin-left:8px; font-size:13px; color:#777; font-weight:normal;}

.time_line [class^=grade_] {margin-right:9px}
.time_line {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.time_line dt {padding:20px; margin-top:20px; background:#ffffe0; font-size:20px; color:#231f20; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; font-weight:bold;}
.time_line dt .btn_detail {margin-left:5px;}
.time_line dt * {}

.time_line dd  {padding:15px 34px 10px 25px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.time_line dd .time_mList li {margin-top:15px;}
.time_line dd .theater_time  {overflow:hidden; width:935px;}

.time_line dd .theater_time li {float:left; width:115px; margin:10px 0 0; background:#fff; border:1px solid #ebeaea; text-align:center; margin-right:-1px; text-align:center; }

.time_line dd .theater_time li:last-child {}
.time_line dd .theater_time li a {display:block;}

.time_line dd .theater_time li .cineD2 {display:block; height:21px; line-height:21px; color:#666; border-bottom:1px solid #e5e5e5;}
.time_line dd .theater_time li .cineD2 em {display:inline-block; padding:0 6px; background:url('/LCHS/Image/bg/bg_line08.gif') no-repeat left 4px;}

.time_line dd .theater_time li .cineD2 {display:block; height:21px; line-height:21px; color:#666; border-bottom:1px solid #e5e5e5;}
.time_line dd .theater_time li .cineD2 em {display:inline-block; padding:0 6px; background:url('/LCHS/Image/bg/bg_line08.gif') no-repeat left 4px;}

.time_line dd .theater_time li .cineD2 em:first-child {background:none !important; padding:0 3px;}
.time_line dd .theater_time li .clock {display:block; height:38px; line-height:38px; border-bottom:1px solid #e5e5e5; font-size:15px; color:#666; font-weight:bold;}
.time_line dd .theater_time li .clock span {display:none}


.time_line dd .theater_time li .ppNum {display:block; height:19px; line-height:19px; color:#666; font-size:12px;}
.time_line dd .theater_time li .ppNum em {color:#231f20}
.time_line dd .superstextcolor {color: #222;}


.time_line dd .theater_time li.on {background:#231f20 !important;}
.time_line dd .theater_time li.on a .cineD2 {color:#999; border-color:#373334;}
.time_line dd .theater_time li.on a .cineD2 em {background:url('/LCHS/Image/bg/bg_line08_on.gif') no-repeat left 4px;}
.time_line dd .theater_time li.on .clock {border-color:#373334; color:#fff !important;}
.time_line dd .theater_time li.on .clock span {display:inline-block}
.time_line dd .theater_time li.on .ppNum {color:#fff;}
.time_line dd .theater_time li.on .ppNum em {color:#fff !important;}
.time_line dd .theater_time li.on .seat {display:none}

.time_line dd .theater_time li .seat {display:inline-block; width:23px; height:15px; font-size:10px; color:#fff; text-align:center; line-height:15px; vertical-align:middle; margin-right:3px;}
.time_line dd .theater_time li .seat.iri {background:#be182f;} 
/*.time_line dd .theater_time li .seat.ini {background:#535141;}*/
.time_line dd .theater_time li .seat.ini {background:#be182f;}

.time_line dd .theater_time li a:hover {background:#231f20;}
.time_line dd .theater_time li a:hover .cineD2 {color:#999; border-color:#000;}
.time_line dd .theater_time li a:hover .cineD2 em {background:url('/LCHS/Image/bg/bg_line08_on.gif') no-repeat left 4px;}
.time_line dd .theater_time li a:hover .clock {border-color:#000; color:#fff;}
/* .time_line dd .theater_time li:hover .clock span {display:inline-block} */
.time_line dd .theater_time li a:hover .clock span {display:inline-block}
.time_line dd .theater_time li a:hover .ppNum {color:#fff;}
.time_line dd .theater_time li a:hover .ppNum em {color:#fff !important;}
/* .time_line dd .theater_time li:hover .seat {display:none} */
.time_line dd .theater_time li a:hover .seat {display:none}

.time_tit {width:980px;padding:20px;background:#ffdfdf;font-size:20px;color:#231f20;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-weight:bold;}



#time_noData {text-align:center; line-height:324px;}
#time_noData .noData {display:inline-block; padding-left:27px; font-size:18px; color:#777}





